*{
    margin: 0;
    padding: 0;

}
.container{
    width: 750px;
    height: 280px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
}

.col{
    display : inline-block;
    background-color: teal;
    flex: 1;
    margin-right: 10px;    
}

.nav{
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

img{
    width: 100px;
    align-self: center;

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}