*{
    padding: 0px;
    margin: px;
    
}

#Container{
    background-color: navy;

}

header{
    background-color: red;
    width: 940px;
    height: 60px;
    color: whitesmoke;
    line-height: 60px;
    border-radius: 10px;
    text-align: center;   
}

nav{
    background-color: aquamarine;
    height: auto;
    width: px;
    border-radius: 30px;
    line-height: 30px;
    display: inline-block;
    text-align:center;
    margin: 5px;
}

#content{
    width: 970px;
    background-color: gold;
    display: inline-block;
    vertical-align: top;
    

    
    
}

footer{
    background-color: gray;
    width: 950px;
    height: 50px;
    border-radius: 20px;
    margin-block: 50px;
    text-align:center;
    
}










